<div style="min-width: 100%; height: 170%; background-image: url('/assets/img/classe.jfif');background-repeat: no-repeat;background-size:cover;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 style="position: relative; bottom:600px; text-align: center; text-transform: uppercase;">Bienvenue etudiant</h1>
    <div style="position: absolute; left: 500px; top: 50px;" class="loginButton">
            <a href="http://localhost:8070/#!/absenceRespo">
            <button id="l" style="position: relative; left:90px; color:ivory" type="submit" class="btn btn-outline-dark">Continuer</button>
            </a> 
    </div>
  </div>